<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file" xsi:type="File" fileName="${basedir}/logs/log-${shortdate}.log" layout="[${longdate}][${level:uppercase=true}][T${threadid}][${logger}] ${message}${exception:format=tostring}" />
    <target name="console" xsi:type="Console" layout="[${longdate}][${level:uppercase=true}][T${threadid}][${logger}] ${message}${exception:format=tostring}" />
  </targets>

  <rules>
	<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="console" final="true" />
	  
	<logger name="Microsoft.*" maxlevel="Info" final="true" />
	<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
	  
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>